/* Styling for title */
h1 {
  color: white;
  font-family: 'Palatino Linotype', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 60px; 
}

/* Styling for background and text in list */
body {
  font-family: 'Palatino Linotype', sans-serif;
  background-image: url('galaxy.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styling for entire list container */
.todo-container {
  padding-top: 100px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.input-container {
  margin-bottom: 14px;
}

/* Styling for box containing listed items */
.todo-box {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(82, 21, 66, 0.836);
  background-color: rgba(0, 0, 0, 0.452);
  word-wrap: break-word;
}

/* Styling for the input box */
input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 85%;
  height: 25px;
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 25px; 
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.808);
}

/* Styling for the grouping of list items */
ul {
  padding: 0;
}

/* Styling for each item in the list */
li {
  margin: 5px 0;
  padding: 10px; 
  border: 1px solid #000000; 
  border-radius: 10px; 
  display: flex;
  justify-content: space-between;
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.808);
  word-wrap: break-word;
}

/* Styling for buttons */
button {
  padding: 5px;
  background: linear-gradient(to right, #af4caf, #6f45a0);
  color: #fff; 
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Palatino Linotype,', sans-serif;
  font-size: 22px;
}
